In [1]:
import pandas as pd
import json

In [2]:
with open('./dados.json') as arquivo_json:
    objeto_json = json.load(arquivo_json)

objeto_json

[{'dia': 1, 'valor': 22174.1664},
 {'dia': 2, 'valor': 24537.6698},
 {'dia': 3, 'valor': 26139.6134},
 {'dia': 4, 'valor': 0.0},
 {'dia': 5, 'valor': 0.0},
 {'dia': 6, 'valor': 26742.6612},
 {'dia': 7, 'valor': 0.0},
 {'dia': 8, 'valor': 42889.2258},
 {'dia': 9, 'valor': 46251.174},
 {'dia': 10, 'valor': 11191.4722},
 {'dia': 11, 'valor': 0.0},
 {'dia': 12, 'valor': 0.0},
 {'dia': 13, 'valor': 3847.4823},
 {'dia': 14, 'valor': 373.7838},
 {'dia': 15, 'valor': 2659.7563},
 {'dia': 16, 'valor': 48924.2448},
 {'dia': 17, 'valor': 18419.2614},
 {'dia': 18, 'valor': 0.0},
 {'dia': 19, 'valor': 0.0},
 {'dia': 20, 'valor': 35240.1826},
 {'dia': 21, 'valor': 43829.1667},
 {'dia': 22, 'valor': 18235.6852},
 {'dia': 23, 'valor': 4355.0662},
 {'dia': 24, 'valor': 13327.1025},
 {'dia': 25, 'valor': 0.0},
 {'dia': 26, 'valor': 0.0},
 {'dia': 27, 'valor': 25681.8318},
 {'dia': 28, 'valor': 1718.1221},
 {'dia': 29, 'valor': 13220.495},
 {'dia': 30, 'valor': 8414.61}]

In [3]:
df = pd.DataFrame(objeto_json)

df

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [4]:
exclude_zero = df['valor'] > 0
new_df = df[exclude_zero]

new_df

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [5]:
menor_valor = new_df['valor'].min()

menor_valor

373.7838

In [6]:
maior_valor = new_df['valor'].max()

maior_valor

48924.2448

In [7]:
acima_da_media = new_df['valor'] > (new_df['valor'].mean())
dias_acima_da_media = new_df[acima_da_media]['valor'].count()

dias_acima_da_media

10